@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hero début */
#Hero .text-title {
    font-size: 5rem;
    font-weight: 700;
    text-transform: capitalize;
}

@media screen and (max-width: 768px) {
    #Hero .text-title {
        font-size: 3rem;
    }
}

/* Hero fin */

/* Qui sommes nous début */
/* Qui sommes nous fin */

/* Présentation début */
#Presentation img {
    max-width: 50%;
}

@media screen and (max-width: 768px) {
    #Presentation img {
        max-width: 50%;
    }
}

/* Présentation fin */

/* Navbar début */

.dropdown-content {
    right: 20px;
}

/* Navbar fin */